{% extends "codeshare/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="main-content">
	<div class="panel panel-default course-panel">
	  <div class="panel-heading">Codeshare</div>
		<div class="panel-body">
			<form action="" method="post">
				{% csrf_token %}

				<div class="clearfix">
					<div class="input-group img-rounded pull-left">
						<input class="form-control" placeholder="Course or workshop name" id="course" type="text" name="course_name" autocomplete="off">
					</div>
					<div class="input-group pull-right">
						<input class="btn btn-success" type="submit" value="Submit"/>
					</div>
				</div>

				<div>
					{% if request.user.is_authenticated %}
					<div class="checkbox">
					    <label>
					    	<input type="checkbox" name="is_private" checked> 
					    	Don't allow others to modify my codeshare
					    </label>
					</div>
						
					{% endif %}
				</div>
			</form>
		</div>
	</div>

	<div class="login-status">
		{% if request.user.is_authenticated %}
			(<strong>{{ request.user.username }}</strong> logged in)
			<a href="logout">Logout</a>
		{% else %}
			Are you a professor? <a href="login">Login</a>
		{% endif %}
	</div>
</div>

{% endblock content %}
