{% extends "codeshare/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">


<div class="panel panel-default course-panel">
  <div class="panel-heading">Codeshare</div>
	<div class="panel-body">
		<form action="" method="post">
			{% csrf_token %}

			<div class="clearfix">
				<div class="input-group pull-right">
					<input class="btn btn-success" type="submit" value="Submit"/>
				</div>
				<div class="input-group img-rounded">
					<input class="form-control" placeholder="course or workshop name" id="course" type="text" name="course_name">
				</div>
			</div>

			{% if request.user.is_authenticated %}
				<input type="checkbox" name="is_private">
				Don't allow others to modify codeshare
			{% endif %}
		</form>
	</div>
</div>

{% if request.user.is_authenticated %}
	{{ request.user.username }}
	<a href="logout">Logout</a>
{% else %}
	Are you a professor? <a href="login">Login</a>
{% endif %}

{% endblock content %}
